{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "parser": "typescript",
  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "semi": true,
        "singleQuote": false
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "semi": false,
        "singleQuote": false,
        "tabWidth": 2,
        "trailingComma": "none"
      }
    }
  ]
}

